/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    #menuToggle {
        right: 1.5em;
    }
    #menu {
        width: 20em;
    }
    /* Landing */
    .header-landing {
        font-size: 2em;
    }
    .button {
        display: block;
    }
    .button {
        background-color: #000000ce;
        box-shadow: inset 0 0 0 2px #000000;
        color: white;
    }
    .side {
        writing-mode: horizontal-tb;
        font-size: 2em;
    }
    .header-logo {
        display: none;
    }
    /* Profile */
    .header {
        font-size: 3em;
        padding-bottom: 0;
        line-height: 1.2em;
    }
    .introduction {
        padding: 0;
        grid-template-columns: auto 95vw auto;
        grid-template-rows: 80vh 80vh;
        grid-template-areas: ". introphoto ." ". intro .";
    }
    .intro-photo {
        background-size: cover;
    }
    .intro {
        text-align: center;
    }
    .intro h2 {
        font-size: 2em;
    }
    .intro p {
        font-size: 1em;
    }
    .intro-side {
        display: none;
    }
    /* Portfolio */
    .basic-text,
    .data-text,
    .prot-text,
    .sprint-text,
    .sprite-text,
    .js-text,
    .pool-text,
    .onboarding-text,
    .foodsharing-text {
        column-count: 1;
    }
    .basic-web {
        grid-template-columns: 1em 90vw 1em;
        grid-template-rows: 10vh 40vh 10vh 190vh;
        grid-template-areas: ". basicside ." ". basicphoto ." ". webside ." ". basictext .";
    }
    .basic-ux {
        grid-template-columns: 1em 90vw 1em;
        grid-template-rows: 10vh 10vh 125vh 40vh 10vh 180vh 80vh 10vh 180vh;
        grid-template-areas: ". uxside ." ". dataside ." ". datatext ." ". protphoto ." ". protside ." ". prottext ." ". sprintphoto ." ". sprintside ." ". sprinttext .";
    }
    .animation {
        grid-template-columns: 1em 90vw 1em;
        grid-template-rows: 10vh 40vh 10vh 175vh 10vh 110vh 10vh 10vh 200vh 40vh 10vh 255vh;
        grid-template-areas: ". animationside ." ". spritephoto ." ". spriteside ." ". spritetext ." ". jsside ." ". jstext ." ". pooloneside ." ". pooltwoside ." ". pooltext ." ". onboardingphoto ." ". onboardingside ." ". onboardingtext .";
    }
    .basic-content {
        grid-template-columns: 1em 90vw 1em;
        grid-template-rows: 10vh 40vh 10vh 230vh;
        grid-template-areas: ". contentside ." ". foodsharingphoto ." ". foodsharingside ." ". foodsharingtext .";
    }
    #menu {
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Landing */
    .header-landing {
        font-size: 3em;
    }
    .button {
        background-color: #000000ce;
        box-shadow: inset 0 0 0 2px #000000;
        color: white;
    }
    .header-logo {
        display: none;
    }
    /* Profile */
    .header {
        font-size: 3em;
        padding-bottom: 0;
    }
    .introduction {
        padding: 0;
    }
    .intro h2 {
        padding-top: 2em;
        font-size: 2em;
    }
    .intro p {
        font-size: 1em;
    }
    .side {
        font-size: 1em;
    }
    /* Portfolio */
    .basic-text,
    .data-text,
    .prot-text,
    .sprint-text,
    .sprite-text,
    .js-text,
    .pool-text,
    .onboarding-text,
    .foodsharing-text {
        column-count: 1;
    }
    .basic-web {
        grid-template-rows: 40vh 135vh;
    }
    .basic-ux {
        grid-template-rows: 85vh 40vh 135vh 80vh 135vh;
        grid-template-areas: ". uxside datatext datatext dataside ." ". . protphoto protphoto protside ." ". . prottext prottext protside ." ". . sprintphoto sprintphoto sprintside ." ". . sprinttext sprinttext sprintside .";
    }
    .animation {
        grid-template-rows: 40vh 120vh 85vh 140vh 40vh 175vh;
    }
    .basic-content {
        grid-template-rows: 40vh 150vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .side {
        font-size: 1.5em;
    }
    .header-logo {
        display: none;
    }
}