body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.border {
    border-bottom: 4px #2c2c2c solid;
}

.text {
    margin: 0 1em;
}

.top {
    margin: 2em 2em 4em;
}

nav {
    overflow: hidden;
}

.top-header {
    width: 90vw;
}

.header-logo {
    width: 10em;
    float: right;
}

.header {
    margin: 0;
    width: 80%;
    font-size: 5em;
    font-weight: 600;
    line-height: 1em;
    color: #2c2c2c;
}

.landing-page {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/landing.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.landing {
    margin: 0;
    padding: 5em 0;
    text-align: center;
}

.header-landing {
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 5em;
}

.actions {
    padding: 0;
}

.actions li {
    list-style: none;
    display: inline-block;
}

.button {
    text-decoration: none;
    background-color: #ffffff7b;
    box-shadow: inset 0 0 0 2px #e4e3e3;
    cursor: pointer;
    display: inline-block;
    padding: 1em 3em;
    margin: 1em;
    width: 5em;
    font-weight: 600;
    color: black;
}

.button:hover {
    transition: 0.2s ease-in;
    background-color: #000000ce;
    box-shadow: inset 0 0 0 2px #000000;
    color: white;
}

#button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
    font-size: 18px;
}

#button:hover {
    transition: 0.2s ease-in-out;
    background-color: #ffffff7b;
}

.triangle {
    fill: black;
}

.highlight {
    border-bottom: 2px #2c2c2c solid;
}

.link-highlight {
    font-size: 1.2em;
    font-weight: 600;
}

.link-highlight::after,
.link-highlight2::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #2c2c2c;
    transition: width 0.3s;
}

.link-highlight:hover::after {
    width: 20%;
}

.link-highlight2:hover::after {
    width: 50%;
}

.link-highlight3 {
    border-bottom: 3px #2c2c2c solid;
}

.grid-bottom-border {
    box-shadow: 0 8px 6px -6px #b8b8b8;
}


/* Grids */


/* Profile */

.introduction {
    display: grid;
    padding: 1em 0;
    grid-template-columns: 2em 5vw 45vw 45vw 2em;
    grid-template-rows: 85vh;
    grid-template-areas: ". introside introphoto intro .";
}

.intro-photo {
    grid-area: introphoto;
    background-image: url("../assets/photo.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
}

.intro {
    grid-area: intro;
}

.intro h2 {
    font-size: 3.5em;
    color: #b8b8b8;
}

.intro p {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
}

.intro-side {
    grid-area: introside;
    font-family: 'Megrim', cursive;
}

.side {
    padding: 0;
    margin: auto;
    writing-mode: vertical-rl;
    font-size: 2em;
    line-height: 0;
}


/* Portfolio */

.basic-web {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh auto;
    grid-template-areas: ". basicside basicphoto basicphoto webside ." ". . basictext basictext . .";
    margin: 2em 0;
}

.basic-side {
    grid-area: basicside;
    font-family: 'Megrim', cursive;
}

.web-right-side {
    grid-area: webside;
}

.basic-photo {
    grid-area: basicphoto;
    background-image: url("../assets/swissstyle.PNG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}

.basic-text {
    grid-area: basictext;
    column-count: 2;
}

.basic-ux {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: auto 80vh auto auto;
    grid-template-areas: ". uxside datatext datatext dataside ." ". . protphoto protphoto protside ." ". . prottext prottext protside ." ". . sprintphoto sprinttext sprintside .";
    grid-row-gap: 2em;
    margin: 4em 0;
}

.ux-side {
    grid-area: uxside;
    font-family: 'Megrim', cursive;
}

.data-text {
    grid-area: datatext;
    column-count: 2;
}

.data-right-side {
    grid-area: dataside;
}

.prot-photo {
    grid-area: protphoto;
    background-image: url("../assets/prototype.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}

.prot-text {
    grid-area: prottext;
    column-count: 2;
}

.prot-right-side {
    grid-area: protside;
}

.sprint-photo {
    grid-area: sprintphoto;
    background-image: url("../assets/design-sprint.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}

.sprint-text {
    grid-area: sprinttext;
}

.sprint-right-side {
    grid-area: sprintside;
}

.animation {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh auto auto auto 80vh auto;
    grid-template-areas: ". animationside spritephoto spritephoto spriteside ." ". . spritetext spritetext . ." ". . jstext jstext jsside ." ". pooloneside pooltext pooltext pooltwoside ." ". . onboardingphoto onboardingphoto onboardingside ." ". . onboardingtext onboardingtext . .";
    grid-row-gap: 2em;
    margin: 4em 0;
}

.animation-side {
    grid-area: animationside;
    font-family: 'Megrim', cursive;
}

.sprite-photo {
    grid-area: spritephoto;
    background-image: url("../assets/spriggan.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}

.sprite-text {
    grid-area: spritetext;
    column-count: 2;
}

.sprite-right-side {
    grid-area: spriteside;
}

.js-text {
    grid-area: jstext;
    column-count: 2;
}

.js-right-side {
    grid-area: jsside;
}

.pool-one-side {
    grid-area: pooloneside;
}

.pool-text {
    grid-area: pooltext;
    column-count: 2;
}

.pool-two-side {
    grid-area: pooltwoside;
}

.onboarding-photo {
    grid-area: onboardingphoto;
    background-image: url("../assets/onboarding.PNG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}

.onboarding-text {
    grid-area: onboardingtext;
    column-count: 2;
}

.onboarding-right-side {
    grid-area: onboardingside;
}

.basic-content {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh auto;
    grid-template-areas: ". contentside foodsharingphoto foodsharingphoto foodsharingside ." ". . foodsharingtext foodsharingtext . .";
    grid-row-gap: 2em;
    margin: 4em 0;
}

.content-side {
    grid-area: contentside;
    font-family: 'Megrim', cursive;
}

.foodsharing-photo {
    grid-area: foodsharingphoto;
    background-image: url("../assets/foodsharing.PNG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}

.foodsharing-text {
    grid-area: foodsharingtext;
    column-count: 2;
}

.foodsharing-right-side {
    grid-area: foodsharingside;
}