body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.border {
    border-bottom: 7px #2c2c2c solid;
}

.text {
    margin: 0 1em;
}

.top {
    margin: 2em 2em 4em;
}

.header {
    margin: 0;
    width: 80%;
    font-size: 5em;
    font-weight: 600;
    line-height: 1em;
    color: #2c2c2c;
}

.landing-page {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing {
    margin: 0;
    padding: 5em 0;
    text-align: center;
}

.header-landing {
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 5em;
}

.actions li {
    list-style: none;
    display: inline-block;
}

.button {
    text-decoration: none;
    background-color: #ffffff7b;
    box-shadow: inset 0 0 0 2px #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 1em 3em;
    margin: 1em;
    width: 5em;
    font-weight: 600;
    color: black;
}

.button:hover {
    transition: 0.3s ease-in;
    background-color: #000000ce;
    box-shadow: inset 0 0 0 2px #000000;
    color: white;
}


/* Grids */

.introduction {
    display: grid;
    padding: 1em 0;
    grid-template-columns: 2em 5vw 45vw 45vw 2em;
    grid-template-rows: 85vh;
    grid-template-areas: ". introside introphoto intro .";
}

.intro-photo {
    grid-area: introphoto;
    background-image: url("../assets/photo.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
}

.intro {
    grid-area: intro;
}

.intro h2 {
    font-size: 3.5em;
    color: #b8b8b8;
}

.intro p {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
}

.intro-side {
    grid-area: introside;
    font-family: 'Megrim', cursive;
}

.side {
    padding: 0;
    margin: auto;
    writing-mode: vertical-rl;
    font-size: 2em;
    line-height: 0;
}

.basic-web {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh 80vh;
    grid-template-areas: ". basicside basicphoto basicphoto webside ." ". . basictext basictext . .";
    margin: 2em 0;
}

.basic-side {
    grid-area: basicside;
    font-family: 'Megrim', cursive;
}

.web-right-side {
    grid-area: webside;
}

.basic-photo {
    grid-area: basicphoto;
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
}

.basic-text {
    grid-area: basictext;
}

.basic-ux {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh 80vh 80vh;
    grid-template-areas: ". uxside dataphoto datatext dataside ." ". . protphoto prottext protside ." ". . sprintphoto sprinttext sprintside .";
    grid-row-gap: 2em;
    margin: 4em 0;
}

.ux-side {
    grid-area: uxside;
    font-family: 'Megrim', cursive;
}

.data-photo {
    grid-area: dataphoto;
    background-color: palevioletred;
}

.data-text {
    grid-area: datatext;
}

.data-right-side {
    grid-area: dataside;
}

.prot-photo {
    grid-area: protphoto;
    background-color: silver;
}

.prot-text {
    grid-area: prottext;
}

.prot-right-side {
    grid-area: protside;
}

.sprint-photo {
    grid-area: sprintphoto;
    background-color: thistle;
}

.sprint-text {
    grid-area: sprinttext;
}

.sprint-right-side {
    grid-area: sprintside;
}

.animation {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh 80vh 80vh 80vh 80vh 80vh;
    grid-template-areas: ". animationside spritephoto spritephoto spriteside ." ". . spritetext spritetext . ." ". . jsphoto jstext jsside ." ". pooloneside poolonetext pooltwotext pooltwoside ." ". . onboardingphoto onboardingphoto onboardingside ." ". . onboardingtext onboardingtext . .";
    grid-row-gap: 2em;
    margin: 4em 0;
}

.animation-side {
    grid-area: animationside;
    font-family: 'Megrim', cursive;
}

.sprite-photo {
    grid-area: spritephoto;
    background-color: honeydew;
}

.sprite-text {
    grid-area: spritetext;
}

.sprite-right-side {
    grid-area: spriteside;
}

.js-photo {
    grid-area: jsphoto;
    background-color: tan;
}

.js-text {
    grid-area: jstext;
}

.js-right-side {
    grid-area: jsside;
}

.pool-one-side {
    grid-area: pooloneside;
}

.pool-one-text {
    grid-area: poolonetext;
}

.pool-two-text {
    grid-area: pooltwotext;
}

.pool-two-side {
    grid-area: pooltwoside;
}

.onboarding-photo {
    grid-area: onboardingphoto;
    background-color: lavender;
}

.onboarding-text {
    grid-area: onboardingtext;
}

.onboarding-right-side {
    grid-area: onboardingside;
}

.basic-content {
    display: grid;
    grid-template-columns: 2em 5vw 35vw 45vw 10vw 2em;
    grid-template-rows: 80vh 80vh;
    grid-template-areas: ". contentside foodsharingphoto foodsharingphoto foodsharingside ." ". . foodsharingtext foodsharingtext . .";
    grid-row-gap: 2em;
    margin: 4em 0;
}

.content-side {
    grid-area: contentside;
    font-family: 'Megrim', cursive;
}

.foodsharing-photo {
    grid-area: foodsharingphoto;
    background-color: lightseagreen;
}

.foodsharing-text {
    grid-area: foodsharingtext;
}

.foodsharing-right-side {
    grid-area: foodsharingside;
}